/* checklist
- [] add css to make it look cuter
- [] add project descriptions and links to github repos
- [] add images to projects + fix the cards
- [] add contact info + make it look cuter
- [] play around with background colors and fonts
- [] make the dropdown cuter
- [] fix the big gap on ALL pages
*/

/* all pages css  */
#root {
  text-align: center;
}

html {
  scroll-behavior: smooth;
  background-color: #87ae73;
}

/* NAVIGATION BAR CSS */

/* make dropdown cuter */

.navbar {
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: #ede0d4;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
}
/* navbar button */
button {
  display: flex;
  align-self: start;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  background-color: #a68a64;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* fix the big gap on ALL pages*/

/* home */
#home {
  background-color: #a8c499;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section {
  color: #663a1c;
}

/* name logo */
.namelogo {
  font-family: "Babylonica", cursive;
  font-size: 5.5em;
  font-weight: 400;
  font-style: normal;
}

/* about me */
#aboutme {
  background-color: #dcc7b1;
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* projects */
#projects {
  background-color: #cac0b1;
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#project-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  padding: 2rem;
  box-sizing: border-box;
}

.project-list1 {
  /* replace background-color with image background of Blueberry game */
  background-color: #8a3fcd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-list2 {
  background-color: #cbc9cd;
}

.project-list3 {
  background-color: #cbc9cd;
}

/* contact */
#contact {
  background-color: #b3e3b5;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
