/* all pages css  */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR CSS */
.navbar {
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* navbar button */
button {
  display: flex;
  align-self: start;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 800;
  background-color: #f9f8f8;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* name logo */
.namelogo {
  font-size: 4em;
  font-weight: 800;
}
